*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00aaff, #00ff6c);
}
.output {
  position: relative;
}
.display {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 50px;
}
.previous {
  top: 0;
  height: 50%;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transition: ease-in-out 0.5s;
}
.span-two {
  grid-column: span 2;
}
.output {
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.75);
}
